body {
    min-width: 500px; /* your desired width */
    max-width: 100%;
    position: relative;
    vertical-align:middle;
  }
.press {
    filter: sepia();
}
.press:hover {
    transform: scale(1.1);
    cursor:pointer
}

div[aria-expanded='true'] > .caret {
    transform: rotate(90deg);
}
.caret {
    filter: opacity(50%);
}
.caret:hover {
    transform: scale(1.1);
}
.select2-results__options{
    font-size:11px !important;
    border-top: 0px;
    margin-top: 0px;
}

/* tags */
.select2-container .select2-selection--multiple .select2-selection__choice {
    font-size: 12px;
}
#preview {
    font-size: 14px;
}
.input-group-text:hover {
    background-color:#d1d1d1;
    cursor:pointer
}
.select2-container--default {
    font-size: 14px;
    border-radius: 0px;
}
.select2-container--default .select2-selection--multiple {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-color: rgba(118, 118, 118, 0.3) !important;
}
.select2-container--default .select2-results>.select2-results__options{
    max-height: 320px;
}

.btn {
    line-height: 0.5rem !important;
}
textarea {
    resize: none;
}
.select2-container--default .select2-results__group {
    background-color: #1a1a1a;
    color: white;
}